astroid==1.6.6
backports-abc==0.5
backports.functools-lru-cache==1.6.4
certifi==2021.5.30
chardet==4.0.0
clay-config==2.1.1
clay-config-file==1.2.0
configparser==4.0.2
contextlib2==0.6.0.post1
crcmod==1.7
enum34==1.1.10
future==0.16.0
futures==3.3.0
hive-csv-reader==0.1.9
idna==2.10
isort==4.3.21
lazy-object-proxy==1.6.0
m3==4.3.1
mccabe==0.6.1
numpy==1.16.6
opentracing==2.4.0
opentracing-instrumentation==3.3.1
pandas==0.24.2
pbr==5.4.5
ply==3.11
pycurl==7.43.0.5
pydocstyle==3.0.0
pylint==1.9.5
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
querybuilder-client==0.5.1
queryrunner-client==3.0.3
requests==2.26.0
singledispatch==3.6.2
six==1.14.0
snowballstemmer==2.1.0
stevedore==1.32.0
tchannel==2.1.0
threadloop==1.0.2
thriftrw==1.8.1
tornado==4.5.3
ujson==2.0.3
urllib3==1.26.6
virtualenv==15.2.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wonkapy==3.0.2
wrapt==1.12.1
